# Build & lib files
.cache
.idea
dist
node_modules
public
LICENSE

# Config folders & files
.gitignore
.prettierignore
graphql/.graphqlconfig
*.toml

# image files
*.jpg
*.jpeg
*.png
*.ico
*.svg
*.gif
*.webp

