@import 'global';

$background-imag-gradient-color: rgba(245, 245, 245, 0.5);
//copy this to top image in src/containers/blogPost.tsx:23
//linear-gradient(rgba(x, y, z, a), rgba(x, y, z, a))

.blog-intro {
    padding-top: 3%;
}

.background-img {
    padding: 5vh 0;
}

.blog-post {
    align-content: center;
    img {
        justify-content: center;
        min-height: 100%;
    }
    h1 {
        color: $primary-font-color;
    }
    h3 {
        color: $secondary-font-color;
    }
    p {
        color: $primary-font-color;
    }
}

.blog-post-card {
    align-content: center;
    img {
        justify-content: center;
        min-height: 100%;
    }
    h1 {
        color: $primary-font-color;
    }
    .blog-header {
        font-size: 24pt;
    }
    .blog-date {
        color: $secondary-font-color;
    }
    p {
        color: $primary-font-color;
    }
}
