@import 'global';

.blog-intro {
    padding-top: 3%;
}

.blog-post {
    img {
        justify-content: center;
        position: center;
        min-height: 100%;
    }
    .blog-header {
        font-size: 24pt;
    }
    .blog-date {
        color: $secondary-font-color;
    }
    p {
        color: $primary-font-color;
    }
}
