@import 'global';

.content-wrapper {
    background-color: $primary-background-color;
    .content-body {
        padding-top: 2%;
        padding-bottom: 1%;
        min-height: $content-height;
        .particles {
            z-index: 30;
            .canvas {
                height: 100%;
                width: 100%;
            }
        }
    }
}
