@import 'global';
.footer {
    // nav sections are actually divs
    color: $primary-font-color;
    height: 10vh;
    div {
        color: $primary-font-color;
    }
    #footer-build-version {
        font-size: 6pt;
    }
}

.header {
    color: $primary-font-color;
    height: 10vh;
    #login-button {
    }
}
