@import 'global';
.footer {
    // nav sections are actually divs
    color: $primary-font-color;
    height: 10vh;
    div {
        color: $primary-font-color;
    }
    span {
        padding-left: 2vw;
        color: #87929b;
        &:hover {
            color: #646a73;
        }
    }
    #footer-build-version {
        font-size: 6pt;
    }
}

@media only screen and (max-width: 500px) {
    // dont display the build version under 500px
    #footer-build-version {
        display: none;
    }
}

.header {
    color: $primary-font-color;
    min-height: 10vh;
    #login-button {
    }
}
