@import 'global';

#title {
    color: $title-color;
    font-size: 10vh;
    padding-top: 12vh;
}

#subtitle {
    color: $subtitle-color;
    font-size: 8vh;
}

.emoji {
    color: darkblue;
    font-size: 8vh;
}
